<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547632855399-98mn97f5n3ococ6k2kbs7pjtj71itjnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547632855399-98mn97f5n3ococ6k2kbs7pjtj71itjnn</string>
	<key>API_KEY</key>
	<string>AIzaSyCLveBf1x3E9RZxrsMXkPaOGbYu67c-5xA</string>
	<key>GCM_SENDER_ID</key>
	<string>547632855399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilhamaryawan.interacttesterApp</string>
	<key>PROJECT_ID</key>
	<string>clements-interact-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clements-interact-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547632855399:ios:0a229958fd8ebd559197c2</string>
	<key>DATABASE_URL</key>
	<string>https://clements-interact-app.firebaseio.com</string>
</dict>
</plist>